
*{
    margin: 0;
    padding:0 ;
}
.header1{
    background-color: rgb(25, 101, 156);
    width: 100%;
    height: 150px;
}
.header2{
    background-color: rgb(17, 134, 70);
    width: 100%;
    height: 50px;
}