
*{
    margin: 0;
    padding:0 ;
}
.body{
    
}
.header1{
    background-color: rgb(25, 101, 156);
    width: 100%;
    height: 100px;
    display: flex;
}
.header2{
    background-color: rgb(17, 134, 70);
    width: 100%;
    height: 30px;
}
.header1 ul{
    justify-content: flex-end;
    display: flex;

}