
*{
    margin: 0;
    padding:0 ;
}
.body{
    background-color: red;
}
.header1{
    background-color: #0b266a;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header2{
    background-color: rgb(60, 84, 172);
    width: 100%;
    height: 10px;
}

.logo{
    width:101px ;
    height: 60.5px;
    padding-left: 15px;
}

h1 {
    color: #a5fcf8;
    padding: 40px;
    font-size: 48px;
    font-weight: 800;
    line-height: 57.6px
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.coutainer_bleu{ 
    align-items: center;
    background-color: #083c44; 
    text-align: center;
}

.coutainer_bleu p {
    color: #a5fcf8;
    padding-bottom: 70px;
}
.bell{
    width: 25px;
    height: 25px ;
}

#video_mobile{
  border: 3px solid #a5fcf8; 
  border-radius: 10px;
  width: 80%;                
  display: block;            
  margin: 20px auto 40px ;
}

#video_destop {
    display: none;
}



.coutainer_blanc {
    position: relative;
    top: -30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
    align-items: center;
    background-color: #ffffff; 
    text-align: center;
}
.coutainer_blanc h2 { 
    color: #166f78;
    font-weight: 800;
  font-size: 40px;
  line-height: 48px;
    padding: 40px;
}
.coutainer_blanc p {
    color: #166f78;
    padding:30px;
  
}
.cta_jaune { 
    border-radius: 20px;
    background-color: #ffbd4a;
    padding: 8px 30px;
    margin-bottom: 30px;
}

.coutainer_bleu_clair {
    color: white;
    text-align: center;
    background-color: #43bdcd;
    padding: 80px 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.coutainer_bleu_clair > div {
    margin: 40px 0;
}

.fond_card_blanc {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    left: -50px; 
    display: inline-block;
    
}

.fond_card_blanc_droite{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    right: -50px; 
    display: inline-block;
}
.coutainer_bleu_clair img {
    width: 350px;    
    display: block;
    margin: 0 auto;    
}

.coutainer_bleu_clair h3 {
    margin: 30px
}



.ball{
    width: 25px;
    height: 25px;
}
.bill{
    width: 25px;
    height: 25px;
}
.icone{
    align-items: center;
    display: flex;
    gap: 15px;
}
