
*{
    margin: 0;
    padding:0 ;
}
.body{
    
}
.header1{
    background-color: #0b266a;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header2{
    background-color: rgb(60, 84, 172);
    width: 100%;
    height: 10px;
}

.logo{
    width:101px ;
    height: 60.5px;
    padding-left: 15px;
}


.coutainer_bleu{ 
    background-color: #2d30d3; /* bleu */
    text-align: center;
}
.bell{
    width: 25px;
    height: 25px ;
    padding-right: 15px;
}
.ball{
    width: 25px;
    height: 25px;
}
.bill{
    width: 25px;
    height: 25px;
}
.icone{
    align-items: center;
    display: flex;
    gap: 15px;
}


@media screen and (min-width: 768px) {
    .coutainer_bleu{ 
    }

    @media screen and (min-width: 768px) {
    .cta_jaune{ 
        padding: 10px 20px;
        background-color: #ffd34a;
    }
    }
}
